# Caché de Python
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/
venv/
env/

# Configuración local de Streamlit (puede tener claves)
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Editores
.vscode/
.idea/

# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# Comprimidos
*.zip
